* {
    margin: 0px;
}

#wa-result-map {
    height: 100vh; /* MUST to get logo centered top-to-bottom*/
    height: calc(var(--vh, 1vh) * 100); /* Fix for iOS Safari vh */
    width: 90vw;
    width: calc(var(--vw, 1vw) * 90); /* Fix for iOS Safari vw */
}

#wa-result-list {
    height: 100vh; /* MUST to get logo centered top-to-bottom*/
    height: calc(var(--vh, 1vh) * 100); /* Fix for iOS Safari vh */
    width: 90vw;
    width: calc(var(--vw, 1vw) * 90); /* Fix for iOS Safari vw */
    background-color: white;
}

#wa-result-filter {
    height: 100vh; /* MUST to get logo centered top-to-bottom*/
    height: calc(var(--vh, 1vh) * 100); /* Fix for iOS Safari vh */
    width: 90vw;
    width: calc(var(--vw, 1vw) * 90); /* Fix for iOS Safari vw */
    background-color: white;
}


.logo-text1 {
    color: #00bb00;
    font-size: 50pt;
    text-align: center;
    font-weight: bold;
    font-family: "Helvetica";
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
}

.logo-text2 {
    color: lightgreen;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    z-index: 1;
}

.flex-container-logo {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center; /* MUST to get logo centered left-to-right*/
    align-items: center; /* MUST to get logo centered top-to-bottom*/
    height: 100vh; /* MUST to get logo centered top-to-bottom*/
    height: calc(var(--vh, 1vh) * 100); /* Fix for iOS Safari vh */
    width: 100vw; /* MUST to get logo centered left-to-right*/
    width: calc(var(--vw, 1vw) * 100); /* Fix for iOS Safari vw */
/*    background-color: rgba(0,255,0,0.1); */
}

.logo-text1-container {
    left: 0; /* why is this needed */
    top: 0;
    display: flex;
/*    background-color: lightblue; */
    justify-content: center;
    align-items: center;
}

.flex-container-page {
    transform: translateY(100vh);
    transform: translateY(calc(var(--vh, 1vh) * 100)); /* Buggy vh on iOS */
    display: flex;
    flex-direction: column;
/*    background-color: red; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100); /* Fix for iOS Safari vw */
    z-index: 3;
    background-color: white;
}

.flex-container-column {
    display: flex;
    flex-direction : column;
/*    background-color: lightblue; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100); /* Fix for iOS Safari vw */
}

.flex-item-logo {
    margin: 5px;
}

.flex-item-map {
    overflow: hidden;
    margin: 5px;
}

.flex-item-dummy {
    height: 100px;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100); /* Fix for iOS Safari vw */

}

.wa-result-bar-item {
    margin: 0;
    padding: 0;
    border: 3px;
    width: 30.0vw;
    height: 5vh;
    border-style: solid;
    border-color: lightgreen;
    font-size: 25px;
}

.wa-green {
    background-color: lightgreen;
}

.red-icon::before {
    color: #ff0000;
}

.gray-icon::before {
    color: gray;
}

.blue-icon::before {
    color: blue;
}

.green-icon::before {
    color: green;
}

.animate-slide-in-top {
    animation: slideInTop 2s;
}
.animate-slide-in-right {
    animation: slideInRight 2s;
}
.animate-slide-in-bottom {
    animation: slideInBottom 2s;
}
.animate-slide-in-left {
    animation: slideInLeft 2s;
}

.animate-slide-in-delayed {
    animation: slideInLeft 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes slideInTop {
    from {
	transform: translateY(calc(var(--vh, 1vh) * -100));
    }
    to {
	transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
	transform: translateX(calc(var(--vw, 1vw) * 100));
    }
    to {
	transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
	transform: translateY(calc(var(--vh, 1vh) * 100));
    }
    to {
	transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
	transform: translateX(calc(var(--vw, 1vw) * -100));
    }
    to {
	transform: translateX(0);
    }
}
